<%- include('../layout/header.ejs') %>

  <style>
    .input-group-text {
      cursor: pointer;
      background: transparent;
    }

    .input-group-text i {
      font-size: 1.3em;
    }
  </style>

  <div class="page-wrapper">
    <header class="header">
      <div class="header-top">
        <div class="container">
          <div class="header-left col-lg-7">

            <div class=" breadcrumbs">
              <ol class="breadcrumb">
                <% breadcrumbs.forEach((crumb, index)=> { %>
                  <% if (index < breadcrumbs.length - 1) { %>
                    <!-- Breadcrumbs with links -->
                    <li class="breadcrumb-item">
                      <a href="<%= crumb.url %>">
                        <%= crumb.name %>
                      </a>
                    </li>
                    <% } else { %>
                      <!-- Current page breadcrumb without link -->
                      <li class="breadcrumb-item active" aria-current="page">
                        <%= crumb.name %>
                      </li>
                      <% } %>
                        <% }); %>
              </ol>
            </div>
            <!-- End .container -->

            <!-- End .breadcrumb-nav -->
          </div>

          <div class="header-right col-lg-5">
            <ul class="top-menu">

            </ul>
            </li>
            </ul>
            <!-- End .top-menu -->
          </div>
          <!-- End .header-right -->
        </div>
        <!-- End .container -->
      </div>
      <!-- End .header-top -->

      <div class="header-middle sticky-header">
        <div class="container">
          <div class="header-left">
            <button class="mobile-menu-toggler">
              <span class="sr-only">Toggle mobile menu</span>
              <i class="icon-bars"></i>
            </button>

            <a href="/home" class="logo">
              <img src="/assets/images/furnspace logo black.png" alt="Molla Logo" width="105" height="25" />
            </a>


            <!-- End .main-nav -->
          </div>
          <!-- End .header-left -->

          <div class="header-right">
            <!-- End .cart-dropdown -->
          </div>
          <!-- End .header-right -->
        </div>
        <!-- End .container -->
      </div>
      <!-- End .header-middle -->
    </header>
    <!-- End .header -->

    <main class="main">
      <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
        style="background-image: url('assets/images/slider/slide-1.jpg')">
        <div class="container">
          <div class="form-box">
            <div class="form-tab">
              <ul class="nav nav-pills nav-fill" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab"
                    aria-controls="signin-2" aria-selected="false">Sign In</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">


                  <form action="/login" method="post" onsubmit="return validateForm()">
                    <div class="form-group">
                      <label for="login-email">Your email address *</label>
                      <input type="email" class="form-control" id="login-email" name="login-email" required />
                      <div class="invalid-feedback" id="email-error" style="display: none">
                        Please enter a valid email address.
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="login-password">Password *</label>
                      <div class="input-group">
                        <input type="password" class="form-control" id="login-password" name="login-password"
                          required />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i id="toggle-password" class="fa fa-eye"></i>
                          </span>
                        </div>
                      </div>
                      <div class="invalid-feedback" id="password-error" style="display: none">
                        Password must be at least 8 characters long.
                      </div>
                    </div>

                    <div class="form-footer">
                      <button type="submit" class="btn btn-outline-primary-2">
                        <span>LOG IN</span>
                        <i class="icon-long-arrow-right"></i>
                      </button>

                      <label for="register-policy-2">
                        Don't have an account? <a href="/register">SIGN UP</a>
                      </label>
                      <label class="mt-2" for="register-policy-2">
                        <a href="/forget-password">Forget Password?</a>
                      </label>

                      <% if (typeof message !=='undefined' ) { %>
                        <p id="mailPasMes" class="text-danger text-center mt-8">
                          <%= message %>
                        </p>
                        <% } %>
                    </div>
                  </form>

                  <div class="form-choice">
                    <p class="text-center">or sign in with</p>
                    <div class="row">
                      <div class="col-sm-6">
                        <a href="/auth/google" class="btn btn-login btn-g">
                          <i class="icon-google"></i>
                          Login With Google
                        </a>
                      </div>
                      <!-- End .col-6 -->
                      <div class="col-sm-6">
                        <a href="/auth/facebook" class="btn btn-login btn-f">
                          <i class="icon-facebook-f"></i>
                          Login With Facebook
                        </a>
                      </div>
                      <!-- End .col-6 -->
                    </div>
                    <!-- End .row -->
                  </div>
                  <!-- End .form-choice -->
                </div>
                <!-- .End .tab-pane -->
              </div>
              <!-- End .tab-content -->
            </div>
            <!-- End .form-tab -->
          </div>
          <!-- End .form-box -->
        </div>
        <!-- End .container -->
      </div>
      <!-- End .login-page section-bg -->
    </main>
    <!-- End .main -->

    <footer class="footer footer-dark">
      <div class="footer-middle">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-lg-3">
              <div class="widget widget-about">
                <img src="/assets/images/furnspace logo white without black bg.png" class="footer-logo"
                  alt="Footer Logo" width="105" height="25" />
                <p>
                  Praesent dapibus, neque id cursus ucibus, tortor neque egestas
                  augue, eu vulputate magna eros eu erat.
                </p>

                <div class="social-icons">
                  <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                  <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                  <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                  <a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                  <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                </div>
                <!-- End .soial-icons -->
              </div>
              <!-- End .widget about-widget -->
            </div>
            <!-- End .col-sm-6 col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
              <div class="widget">
                <h4 class="widget-title">Useful Links</h4>
                <!-- End .widget-title -->

                <ul class="widget-list">
                  <li><a href="about.html">About Molla</a></li>
                  <li><a href="#">How to shop on Molla</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="contact.html">Contact us</a></li>
                  <li><a href="login.html">Log in</a></li>
                </ul>
                <!-- End .widget-list -->
              </div>
              <!-- End .widget -->
            </div>
            <!-- End .col-sm-6 col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
              <div class="widget">
                <h4 class="widget-title">Customer Service</h4>
                <!-- End .widget-title -->

                <ul class="widget-list">
                  <li><a href="#">Payment Methods</a></li>
                  <li><a href="#">Money-back guarantee!</a></li>
                  <li><a href="#">Returns</a></li>
                  <li><a href="#">Shipping</a></li>
                  <li><a href="#">Terms and conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                </ul>
                <!-- End .widget-list -->
              </div>
              <!-- End .widget -->
            </div>
            <!-- End .col-sm-6 col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
              <div class="widget">
                <h4 class="widget-title">My Account</h4>
                <!-- End .widget-title -->

                <ul class="widget-list">
                  <li><a href="#">Sign In</a></li>
                  <li><a href="cart.html">View Cart</a></li>
                  <li><a href="#">My Wishlist</a></li>
                  <li><a href="#">Track My Order</a></li>
                  <li><a href="#">Help</a></li>
                </ul>
                <!-- End .widget-list -->
              </div>
              <!-- End .widget -->
            </div>
            <!-- End .col-sm-6 col-lg-3 -->
          </div>
          <!-- End .row -->
        </div>
        <!-- End .container -->
      </div>
      <!-- End .footer-middle -->

      <div class="footer-bottom">
        <div class="container">
          <p class="footer-copyright">
            Copyright © 2019 Molla Store. All Rights Reserved.
          </p>
          <!-- End .footer-copyright -->
          <figure class="footer-payments">
            <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20" />
          </figure>
          <!-- End .footer-payments -->
        </div>
        <!-- End .container -->
      </div>
      <!-- End .footer-bottom -->
    </footer>
    <!-- End .footer -->
  </div>
  <!-- End .page-wrapper -->
  <button id="scroll-top" title="Back to Top">
    <i class="icon-arrow-up"></i>
  </button>

  <!-- Mobile Menu -->
  <div class="mobile-menu-overlay"></div>
  <!-- End .mobil-menu-overlay -->

  <div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
      <span class="mobile-menu-close"><i class="icon-close"></i></span>

      <form action="#" method="get" class="mobile-search">
        <label for="mobile-search" class="sr-only">Search</label>
        <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
          required />
        <button class="btn btn-primary" type="submit">
          <i class="icon-search"></i>
        </button>
      </form>

      <nav class="mobile-nav">
        <ul class="mobile-menu">
          <li class="active">
            <a href="/home">Home</a>
          </li>
          <li>
            <a href="/product-list" class="">Product</a>
          </li>
          <li>
            <a href=" #" class="sf-with-ul">Category</a>
              
            </li>
            <li>
              <a href=" #" class="sf-with-ul">Brand</a>
              <ul>
                <li><a href="#">IKEA</a></li>
                <li><a href="#">DURIAN</a></li>
                <li><a href="#">URBAN LADDER</a></li>
                <li><a href="#">FURNITURE PARK</a></li>
                <li><a href="#">HOME TOWN</a></li>
                <li><a href="#">WOODEN STREET</a></li>
              </ul>
            </li>
          <li>
            <a href="#">Pages</a>
            <ul>
              <li>
                <a href="/login">Login</a>
              </li>
              <li>
                <a href="/contact-us">Contact</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- End .mobile-nav -->

      <div class="social-icons">
        <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
      </div>
      <!-- End .social-icons -->
    </div>
    <!-- End .mobile-menu-wrapper -->
  </div>
  <!-- End .mobile-menu-container -->

  <!-- Plugins JS File -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/jquery.hoverIntent.min.js"></script>
  <script src="assets/js/jquery.waypoints.min.js"></script>
  <script src="assets/js/superfish.min.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const emailInput = document.getElementById("login-email");
      const passwordInput = document.getElementById("login-password");
      const emailError = document.getElementById("email-error");
      const passwordError = document.getElementById("password-error");

      emailInput.addEventListener("blur", validateEmail);
      passwordInput.addEventListener("blur", validatePassword);

      function validateEmail() {
        const email = emailInput.value.trim();
        const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        if (!emailPattern.test(email)) {
          emailError.textContent = "Please enter a valid email address.";
          emailError.style.display = "block";
          emailInput.classList.add("is-invalid");
          return false;
        } else {
          emailError.style.display = "none";
          emailInput.classList.remove("is-invalid");
          return true;
        }
      }

      function validatePassword() {
        const password = passwordInput.value.trim();

        if (password.length < 8) {
          passwordError.textContent = "Password must be at least 8 characters long.";
          passwordError.style.display = "block";
          passwordInput.classList.add("is-invalid");
          return false;
        } else {
          passwordError.style.display = "none";
          passwordInput.classList.remove("is-invalid");
          return true;
        }
      }

      function validateForm() {
        const isEmailValid = validateEmail();
        const isPasswordValid = validatePassword();

        // Only submit the form if both email and password are valid
        return isEmailValid && isPasswordValid;
      }
    });

    document.getElementById("toggle-password").addEventListener("click", function () {
      const passwordInput = document.getElementById("login-password");
      const icon = this;

      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        icon.classList.remove("fa-eye");
        icon.classList.add("fa-eye-slash");
      } else {
        passwordInput.type = "password";
        icon.classList.remove("fa-eye-slash");
        icon.classList.add("fa-eye");
      }
    });

    const messageElem = document.getElementById('mailPasMes');
    if (messageElem) {
      setTimeout(() => {
        messageElem.style.display = 'none';
      }, 5000);
    }

  </script>

  <%- include('../layout/footer.ejs') %>