<%- include('../layout/header') %>

    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left col-lg-7">

                        <div class=" breadcrumbs">
                          <ol class="breadcrumb">
                            <% breadcrumbs.forEach((crumb, index)=> { %>
                              <% if (index < breadcrumbs.length - 1) { %>
                                <!-- Breadcrumbs with links -->
                                <li class="breadcrumb-item">
                                  <a href="<%= crumb.url %>">
                                    <%= crumb.name %>
                                  </a>
                                </li>
                                <% } else { %>
                                  <!-- Current page breadcrumb without link -->
                                  <li class="breadcrumb-item active" aria-current="page">
                                    <%= crumb.name %>
                                  </li>
                                  <% } %>
                                    <% }); %>
                          </ol>
                        </div>
                        <!-- End .container -->
            
                        <!-- End .breadcrumb-nav -->
                      </div><!-- End .header-left -->

                    <div class="header-right col-lg-5">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>

                                    <li><a href="/wishlist"><i class="icon-heart-o"></i>Wishlist
                                            <span>(3)</span></a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="/contact-us">Contact Us</a></li>
                                    <% if(user){ %>
                                        <li><a href="/wishlist"><i class="icon-user"></i>
                                                <%= user.name %>
                                            </a>
                                            <% }else{ %>
                                        <li><a href="/login"><i class="icon-user"></i>Login</a>
                                            <% } %>

                                        </li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="/home" class="logo">
                            <img src="/assets/images/furnspace logo black.png" alt="Molla Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/home" class="">Home</a>
                                </li>
                                <li>
                                    <a href="/product-list" ">Product</a>
                              </li>

                              <li>
                                <a href=" #" class="sf-with-ul">Category</a>
                                    <ul>
                                        <% categories.forEach(function(category) { %>

                                            <li><a href="/category/<%= category._id %>">
                                                    <%= category.title %>
                                                </a></li>

                                            <% }) %>
                                    </ul>
                                </li>

                                <li>
                                    <a href=" #" class="sf-with-ul">Brand</a>
                                    <ul>
                                      <li><a href="#">IKEA</a></li>
                                      <li><a href="#">DURIAN</a></li>
                                      <li><a href="#">URBAN LADDER</a></li>
                                      <li><a href="#">FURNITURE PARK</a></li>
                                      <li><a href="#">HOME TOWN</a></li>
                                      <li><a href="#">WOODEN STREET</a></li>
                                    </ul>
                                  </li>

                                <li>
                                    <a href="#" class="sf-with-ul">Pages</a>

                                    <ul>
                                        <!-- <li><a href="about.html">About</a></li> -->
                                        <li><a href="/contact">Contact</a></li>
                                        <li><a href="/login">Login</a></li>

                                        <!-- <li><a href="coming-soon.html">Coming Soon</a></li> -->
                                    </ul>
                                </li>
                            </ul>
                            <!-- End .menu -->
                        </nav>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i
                                    class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..."
                                        required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        <div class="dropdown compare-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" data-display="static"
                                title="Compare Products" aria-label="Compare Products">
                                <i class="icon-random"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="compare-products">
                                    <li class="compare-product">
                                        <a href="#" class="btn-remove" title="Remove Product"><i
                                                class="icon-close"></i></a>
                                        <h4 class="compare-product-title"><a href="product.html">Blue Night Dress</a>
                                        </h4>
                                    </li>
                                    <li class="compare-product">
                                        <a href="#" class="btn-remove" title="Remove Product"><i
                                                class="icon-close"></i></a>
                                        <h4 class="compare-product-title"><a href="product.html">White Long Skirt</a>
                                        </h4>
                                    </li>
                                </ul>

                                <div class="compare-actions">
                                    <a href="#" class="action-link">Clear All</a>
                                    <a href="#" class="btn btn-outline-primary-2"><span>Compare</span><i
                                            class="icon-long-arrow-right"></i></a>
                                </div>
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .compare-dropdown -->

                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count">2</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product">




                                    </div><!-- End .cart-product -->




                                </div><!-- End .dropdown-menu -->
                            </div><!-- End .cart-dropdown -->
                        </div><!-- End .header-right -->
                    </div><!-- End .container -->
                </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Profile<span></span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->


            <div class="page-content">
                <div class="container">
                    <form action="/update-profile">
                        <table class="table table-wishlist table-mobile">
                            <tr>
                                <th>Field</th>
                                <th>Details</th>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td id="name">
                                    <%= user.name %>
                                </td>
                                <td><input type="text" id="edit-name" class="edit-input"
                                        style="display:none; border: none; background-color: #cc9966; color: #fff;"
                                        value="<%= user.name %>"></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td id="email">
                                    <%= user.email %>
                                </td>
                                <td><input type="email" id="edit-email" class="edit-input"
                                        style="display:none; border: none; background-color: #cc9966; color: #fff;"
                                        value="<%= user.email %>"></td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td id="phone">
                                    <%= user.phone %>
                                </td>
                                <td><input type="tel" id="edit-phone" class="edit-input"
                                        style="display:none; border: none; background-color: #cc9966; color: #fff;"
                                        value="<%= user.phone %>"></td>
                            </tr>
                        </table><!-- End .table table-wishlist -->
                    </form>
                    <button id="editBtn" class="btn"
                        style="margin-bottom: 10px; margin-top: -10px; margin-left: -71px; color: #cc9966;"
                        onclick="toggleEdit()">Edit</button>


                    <button id="saveBtn" class="btn"
                        style="display:none; margin-bottom: 10px; margin-top: -10px; margin-left: -71px; color: #cc9966;"
                        onclick="saveChanges()">Save</button>


                    <button id="" class="btn" style=" margin-bottom: 10px; margin-top: -10px; margin-left: -71px;"><a
                            href="/logout">Logout</a></button>


                            <button id="" class="btn" style=" margin-bottom: 10px; margin-top: -10px; margin-left: -30px;"><a
                                href="/forget-password">Change password</a></button>
                    


                    <div class="wishlist-share">
                        <div class="social-icons social-icons-sm mb-2">
                            <label class="social-label">Share on:</label>
                            <a href="#" class="social-icon" title="Facebook" target="_blank"><i
                                    class="icon-facebook-f"></i></a>
                            <a href="#" class="social-icon" title="Twitter" target="_blank"><i
                                    class="icon-twitter"></i></a>
                            <a href="#" class="social-icon" title="Instagram" target="_blank"><i
                                    class="icon-instagram"></i></a>
                            <a href="#" class="social-icon" title="Youtube" target="_blank"><i
                                    class="icon-youtube"></i></a>
                            <a href="#" class="social-icon" title="Pinterest" target="_blank"><i
                                    class="icon-pinterest"></i></a>
                        </div><!-- End .soial-icons -->
                    </div><!-- End .wishlist-share -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer footer-dark">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="/assets/images/furnspace logo white without black bg.png" class="footer-logo"
                                    alt="Footer Logo" width="105" height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. </p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="Youtube" target="_blank"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i
                                            class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                  <li class="active">
                    <a href="/home">Home</a>
                  </li>
                  <li>
                    <a href="/product-list" class="">Product</a>
                  </li>
                  <li>
                    <a href=" #" class="sf-with-ul">Category</a>
                      <ul>
                        <% categories.forEach(function(category) { %>
        
                          <li><a href="/category/<%= category._id %>">
                              <%= category.title %>
                            </a></li>
        
                          <% }) %>
                      </ul>
                    </li>
                    <li>
                      <a href=" #" class="sf-with-ul">Brand</a>
                      <ul>
                        <li><a href="#">IKEA</a></li>
                        <li><a href="#">DURIAN</a></li>
                        <li><a href="#">URBAN LADDER</a></li>
                        <li><a href="#">FURNITURE PARK</a></li>
                        <li><a href="#">HOME TOWN</a></li>
                        <li><a href="#">WOODEN STREET</a></li>
                      </ul>
                    </li>
                  <li>
                    <a href="#">Pages</a>
                    <ul>
                      <li>
                        <a href="/login">Login</a>
                      </li>
                      <li>
                        <a href="/contact-us">Contact</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->


    <!--edit profile-->
    <script>
        function toggleEdit() {
            const editInputs = document.querySelectorAll('.edit-input');
            const staticTexts = document.querySelectorAll('td[id]');
            const editBtn = document.getElementById('editBtn');
            const saveBtn = document.getElementById('saveBtn');

            editInputs.forEach(input => {
                input.style.display = 'inline-block'; // Show edit inputs
            });

            staticTexts.forEach(text => {
                text.style.display = 'none'; // Hide static text
            });

            editBtn.style.display = 'none'; // Hide edit button
            saveBtn.style.display = 'inline-block'; // Show save button
        }

        async function saveChanges() {
            const editName = document.getElementById('edit-name').value;
            const editEmail = document.getElementById('edit-email').value;
            const editPhone = document.getElementById('edit-phone').value;

            try {
                const response = await fetch('/update-profile', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        name: editName,
                        email: editEmail,
                        phone: editPhone
                    })
                });

                if (!response.ok) {
                    throw new Error('Failed to update profile');
                }

                const userData = await response.json();
                document.getElementById('name').textContent = userData.name;
                document.getElementById('email').textContent = userData.email;
                document.getElementById('phone').textContent = userData.phone;

                const editInputs = document.querySelectorAll('.edit-input');
                editInputs.forEach(input => {
                    input.style.display = 'none'; // Hide edit inputs
                });

                const staticTexts = document.querySelectorAll('td[id]');
                staticTexts.forEach(text => {
                    text.style.display = 'inline-block'; // Show static text
                });

                document.getElementById('saveBtn').style.display = 'none'; // Hide save button
                document.getElementById('editBtn').style.display = 'inline-block'; // Show edit button
            } catch (error) {
                console.error('Error updating profile:', error);
            }
        }
    </script>

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

    <%- include('../layout/footer') %>