<%- include('../layout/header.ejs') %>

    <style>
        .input-group-text {
            cursor: pointer;
            background: transparent;

        }

        .input-group-text i {
            font-size: 1.3em;
        }
    </style>

    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left col-lg-7">

                        <div class=" breadcrumbs">
                          <ol class="breadcrumb">
                            <% breadcrumbs.forEach((crumb, index)=> { %>
                              <% if (index < breadcrumbs.length - 1) { %>
                                <!-- Breadcrumbs with links -->
                                <li class="breadcrumb-item">
                                  <a href="<%= crumb.url %>">
                                    <%= crumb.name %>
                                  </a>
                                </li>
                                <% } else { %>
                                  <!-- Current page breadcrumb without link -->
                                  <li class="breadcrumb-item active" aria-current="page">
                                    <%= crumb.name %>
                                  </li>
                                  <% } %>
                                    <% }); %>
                          </ol>
                        </div>
                        <!-- End .container -->
            
                        <!-- End .breadcrumb-nav -->
                      </div><!-- End .header-left -->


                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="/home" class="logo">
                            <img src="/assets/images/furnspace logo black.png" alt="Molla Logo" width="105" height="25">
                        </a>


                    </div><!-- End .header-left -->


                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">


            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
                style="background-image: url('assets/images/slider/slide-1.jpg')">
                <div class="container">
                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">

                                <li class="nav-item">
                                    <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2"
                                        role="tab" aria-controls="register-2" aria-selected="true">Register</a>
                                </li>
                            </ul>

                            <div class="tab-pane fade show active" id="register-2" role="tabpanel"
                                aria-labelledby="register-tab-2">


                                <form action="/register" method="post" onsubmit="return validateForm()"
                                    name="registerForm">

                                    <div class="form-group">
                                        <label for="register-name">Name *</label>
                                        <input type="text" class="form-control" id="register-name" name="name" required>
                                        <p id="nameError" class="error-message text-danger"></p>
                                    </div>

                                    <div class="form-group">
                                        <label for="register-phone">Phone Number *</label>
                                        <input type="tel" class="form-control" id="register-phone" name="phone"
                                            required>
                                        <p id="phoneError" class="error-message text-danger"></p>
                                    </div>

                                    <div class="form-group">
                                        <label for="register-email">Email Address *</label>
                                        <input type="email" class="form-control" id="register-email" name="email"
                                            required>
                                        <p id="emailError" class="error-message text-danger"></p>
                                    </div>

                                    <div class="form-group">
                                        <label for="register-password">Password *</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="register-password"
                                                name="password" required>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="password-toggle">
                                                    <i class="fa fa-eye"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <p id="passwordError" class="error-message text-danger"></p>
                                    </div>

                                    <div class="form-group">
                                        <label for="register-confirm-password">Confirm Password *</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="register-confirm-password"
                                                name="confirm-password" required>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="confirm-password-toggle">
                                                    <i class="fa fa-eye"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <p id="confirm-passwordError" class="error-message text-danger"></p>
                                    </div>

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SIGN UP</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <label class="">Have an account <a href="/login">LOG IN</a></label>
                                        <% if(message){ %>
                                            <p id="existEmailMes" style="color: red; margin-left: 131px;">
                                                <%= message %>
                                            </p>
                                            <% } %>

                                    </div>

                                </form>




                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
    </main><!-- End .main -->

    <footer class="footer footer-dark">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget widget-about">
                            <img src="/assets/images/furnspace logo white without black bg.png" class="footer-logo"
                                alt="Footer Logo" width="105" height="25">
                            <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                magna eros eu erat. </p>

                            <div class="social-icons">
                                <a href="#" class="social-icon" title="Facebook" target="_blank"><i
                                        class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" title="Twitter" target="_blank"><i
                                        class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" title="Instagram" target="_blank"><i
                                        class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" title="Youtube" target="_blank"><i
                                        class="icon-youtube"></i></a>
                                <a href="#" class="social-icon" title="Pinterest" target="_blank"><i
                                        class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="about.html">About Molla</a></li>
                                <li><a href="#">How to shop on Molla</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="/contact-us">Contact us</a></li>
                                <li><a href="/login">Log in</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Sign In</a></li>
                                <li><a href="cart.html">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                <!-- End .footer-copyright -->
                <figure class="footer-payments">
                    <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                </figure><!-- End .footer-payments -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/product-list" class="">Product</a>
                    </li>
                    <li>
                        <a href=" #" class="sf-with-ul">Category</a>

                    </li>
                    <li>
                        <a href=" #" class="sf-with-ul">Brand</a>
                        <ul>
                            <li><a href="#">IKEA</a></li>
                            <li><a href="#">DURIAN</a></li>
                            <li><a href="#">URBAN LADDER</a></li>
                            <li><a href="#">FURNITURE PARK</a></li>
                            <li><a href="#">HOME TOWN</a></li>
                            <li><a href="#">WOODEN STREET</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            <li>
                                <a href="/login">Login</a>
                            </li>
                            <li>
                                <a href="/contact-us">Contact</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->



    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>



    <script>



        document.addEventListener('DOMContentLoaded', function () {
            const nameInput = document.getElementById('register-name');
            const phoneInput = document.getElementById('register-phone');
            const emailInput = document.getElementById('register-email');
            const passwordInput = document.getElementById('register-password');
            const confirmPasswordInput = document.getElementById('register-confirm-password');

            nameInput.addEventListener('blur', validateName);
            phoneInput.addEventListener('blur', validatePhone);
            emailInput.addEventListener('blur', validateEmail);
            passwordInput.addEventListener('blur', validatePassword);
            confirmPasswordInput.addEventListener('blur', validateConfirmPassword);

            function validateName() {
                const name = nameInput.value;
                const nameError = document.getElementById('nameError');
                const namePattern = /^[A-Za-z][A-Za-z\s]*$/;
                if (!namePattern.test(name)) {
                    nameError.textContent = 'Name must contain only letters and spaces, and not start with a space';
                    return false;
                } else {
                    nameError.textContent = '';
                    return true;
                }
            }

            function validatePhone() {
                const phone = phoneInput.value.trim();
                const phoneError = document.getElementById('phoneError');
                const phonePattern = /^[0-9]{10}$/; // Adjust pattern based on your requirements
                if (!phonePattern.test(phone)) {
                    phoneError.textContent = 'Invalid phone number';
                    return false;
                } else {
                    phoneError.textContent = '';
                    return true;
                }
            }

            function validateEmail() {
                const email = emailInput.value.trim();
                const emailError = document.getElementById('emailError');
                const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (!emailPattern.test(email)) {
                    emailError.textContent = 'Invalid email address';
                    return false;
                } else {
                    emailError.textContent = '';
                    return true;
                }
            }

            function validatePassword() {
                const password = passwordInput.value.trim();
                const passwordError = document.getElementById('passwordError');
                if (password.length < 8) {
                    passwordError.textContent = 'Password must be at least 8 characters long';
                    return false;
                } else {
                    passwordError.textContent = '';
                    return true;
                }
            }

            function validateConfirmPassword() {
                const confirmPassword = confirmPasswordInput.value.trim();
                const password = passwordInput.value.trim();
                const confirmPasswordError = document.getElementById('confirm-passwordError');
                const signUpButton = document.querySelector('.btn.btn-outline-primary-2'); // Select the sign-up button


                if (confirmPassword !== password) {
                    confirmPasswordError.textContent = 'Passwords do not match';
                    signUpButton.disabled = true
                    return false;
                } else {
                    confirmPasswordError.textContent = '';
                    signUpButton.disabled = false;
                    return true;
                }
            }


        });






        function togglePasswordVisibility(inputId) {
            const passwordInput = document.getElementById(inputId);
            const icon = passwordInput.nextElementSibling.querySelector('i');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            }
        }

        document.getElementById('password-toggle').addEventListener('click', function () {
            togglePasswordVisibility('register-password');
        });

        document.getElementById('confirm-password-toggle').addEventListener('click', function () {
            togglePasswordVisibility('register-confirm-password');
        });


        const messageElem = document.getElementById('existEmailMes')
        if (messageElem) {
            setTimeout(() => {
                messageElem.style.display = 'none'
            }, 5000)
        }

    </script>





    <%- include('../layout/footer.ejs') %>